*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #000, #90bafc);
    color: #fff;
    padding: 10px;
}
.calculator {
    width: 100%;
    max-width: 600px;
    margin-left: 20%;
    margin-top: 20%;
}
.calculator h1{
    font-size: 60px;
    text-align: center;
}
.input-box{
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
.input-box input {
 flex: 1;
 margin-right: 10px;
 padding: 14px 20px;
 border: 0;
 outline: 0;
 font-size: 18px; 
 border-radius: 5px;
 position: relative;   
}
.input-box button {
    background: #7a7a77;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
.input-box input::webkit-calender-picker-indicator{
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:auto;
    height: auto;
    position:absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: 20px;
}
#result span{
    color: #7e7474;
    font-size: 45px;
}
@media screen and (max-width: 500px) {
    .calculator h1{
        font-size: 1.5rem;
    }
    p {
        font-size: 0.5rem;
    }
    .input-box input {
        padding: 10px;
        margin-right: 20px;
        font-size: 7px; 
    }
    .input-box {
        margin: 0px;
    }
    .input-box button {
        padding: 7px 15px;
        font-weight: 250;
        font-size: smaller;  
        margin-right: 45px;
    }
    .input-box input::webkit-calender-picker-indicator {
        background-position: calc(50% - 5px);
    }
    #result span{
        font-size: 0.5rem;
    }
    #result{
        font-size: 10px;
        text-align: center;
}
@media screen and (max-width: 381px) {
    .calculator h1{
        font-size: 1.5rem;
    }
    p {
        font-size: 0.5rem;
    }
    .input-box input {
        padding: 10px;
        margin-right: 20px;
        font-size: 7px; 
 border-radius: 2px;
    }
    .input-box button {
        padding: 7px 15px;
        font-weight: 250;
        font-size: smaller;  
        margin-left: 20%;;
    }
    .input-box input::webkit-calender-picker-indicator {
        background-position: calc(50% - 5px);
    }
    #result span{
        font-size: 0.5rem;
    }
    #result{
        font-size: 10px;
        text-align: center;
}
}
